#colorbox {
	left: 0px; top: 0px; overflow: hidden; position: absolute; z-index: 9999;
}
#cboxOverlay {
	left: 0px; top: 0px; overflow: hidden; position: absolute; z-index: 9999;
}
#cboxWrapper {
	left: 0px; top: 0px; overflow: hidden; position: absolute; z-index: 9999;
}
#cboxOverlay {
	width: 100%; height: 100%; position: fixed;
}
#cboxMiddleLeft {
	clear: left;
}
#cboxBottomLeft {
	clear: left;
}
#cboxContent {
	position: relative;
}
#cboxLoadedContent {
	overflow: auto; -webkit-overflow-scrolling: touch;
}
#cboxTitle {
	margin: 0px;
}
#cboxLoadingOverlay {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
#cboxLoadingGraphic {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
#cboxPrevious {
	cursor: pointer;
}
#cboxNext {
	cursor: pointer;
}
#cboxClose {
	cursor: pointer;
}
#cboxSlideshow {
	cursor: pointer;
}
.cboxPhoto {
	margin: auto; border: 0px currentColor; border-image: none; float: left; display: block; max-width: none;
}
.cboxIframe {
	border: 0px currentColor; border-image: none; width: 100%; height: 100%; display: block;
}
#colorbox {
	box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
#cboxContent {
	box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
#cboxLoadedContent {
	box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
#cboxOverlay {
	background: rgb(255, 255, 255);
}
#colorbox {
	outline: 0px;
}
#cboxTopLeft {
	background: url("images/border1.png") no-repeat 0px 0px; width: 25px; height: 25px;
}
#cboxTopCenter {
	background: url("images/border1.png") repeat-x 0px -50px; height: 25px;
}
#cboxTopRight {
	background: url("images/border1.png") no-repeat -25px 0px; width: 25px; height: 25px;
}
#cboxBottomLeft {
	background: url("images/border1.png") no-repeat 0px -25px; width: 25px; height: 25px;
}
#cboxBottomCenter {
	background: url("images/border1.png") repeat-x 0px -75px; height: 25px;
}
#cboxBottomRight {
	background: url("images/border1.png") no-repeat -25px -25px; width: 25px; height: 25px;
}
#cboxMiddleLeft {
	background: url("images/border2.png") repeat-y 0px 0px; width: 25px;
}
#cboxMiddleRight {
	background: url("images/border2.png") repeat-y -25px 0px; width: 25px;
}
#cboxContent {
	background: rgb(255, 255, 255); overflow: hidden;
}
.cboxIframe {
	background: rgb(255, 255, 255);
}
#cboxError {
	padding: 50px; border: 1px solid rgb(204, 204, 204); border-image: none;
}
#cboxLoadedContent {
	margin-bottom: 20px;
}
#cboxTitle {
	left: 0px; width: 100%; text-align: center; bottom: 0px; color: rgb(153, 153, 153); position: absolute;
}
#cboxCurrent {
	left: 100px; bottom: 0px; color: rgb(153, 153, 153); position: absolute;
}
#cboxLoadingOverlay {
	background: url("images/loading.gif") no-repeat 5px 5px rgb(255, 255, 255);
}
#cboxPrevious {
	background: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; width: auto; overflow: visible;
}
#cboxNext {
	background: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; width: auto; overflow: visible;
}
#cboxSlideshow {
	background: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; width: auto; overflow: visible;
}
#cboxClose {
	background: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; width: auto; overflow: visible;
}
#cboxPrevious:active {
	outline: 0px;
}
#cboxNext:active {
	outline: 0px;
}
#cboxSlideshow:active {
	outline: 0px;
}
#cboxClose:active {
	outline: 0px;
}
#cboxSlideshow {
	right: 42px; bottom: 0px; color: rgb(68, 68, 68); position: absolute;
}
#cboxPrevious {
	left: 0px; bottom: 0px; color: rgb(68, 68, 68); position: absolute;
}
#cboxNext {
	left: 63px; bottom: 0px; color: rgb(68, 68, 68); position: absolute;
}
#cboxClose {
	right: 0px; bottom: 0px; color: rgb(68, 68, 68); display: block; position: absolute;
}
.cboxIE #cboxTopLeft {
	
}
.cboxIE #cboxTopCenter {
	
}
.cboxIE #cboxTopRight {
	
}
.cboxIE #cboxBottomLeft {
	
}
.cboxIE #cboxBottomCenter {
	
}
.cboxIE #cboxBottomRight {
	
}
.cboxIE #cboxMiddleLeft {
	
}
.cboxIE #cboxMiddleRight {
	
}
.cboxIE6 #cboxTopLeft {
	background: url("images/ie6/borderTopLeft.png");
}
.cboxIE6 #cboxTopCenter {
	background: url("images/ie6/borderTopCenter.png");
}
.cboxIE6 #cboxTopRight {
	background: url("images/ie6/borderTopRight.png");
}
.cboxIE6 #cboxBottomLeft {
	background: url("images/ie6/borderBottomLeft.png");
}
.cboxIE6 #cboxBottomCenter {
	background: url("images/ie6/borderBottomCenter.png");
}
.cboxIE6 #cboxBottomRight {
	background: url("images/ie6/borderBottomRight.png");
}
.cboxIE6 #cboxMiddleLeft {
	background: url("images/ie6/borderMiddleLeft.png");
}
.cboxIE6 #cboxMiddleRight {
	background: url("images/ie6/borderMiddleRight.png");
}
.cboxIE6 #cboxTopLeft {
	
}
.cboxIE6 #cboxTopCenter {
	
}
.cboxIE6 #cboxTopRight {
	
}
.cboxIE6 #cboxBottomLeft {
	
}
.cboxIE6 #cboxBottomCenter {
	
}
.cboxIE6 #cboxBottomRight {
	
}
.cboxIE6 #cboxMiddleLeft {
	
}
.cboxIE6 #cboxMiddleRight {
	
}
