{% extends 'website/base.html' %}
{% load staticfiles%}
{% block company %}
	
  <!-- start: CONTENT DETAIL -->
    <section class="sec_contentdetail">
        <div class="container">
            <div class="div contentpage">
                <div class="left_content">
                    <div class="news_left">
                        <div class="news_left_inner">
                            <h3>Doanh Nghiệp</h3>
                            <ul class="menu_left">
                              <li class="active"  > <a href="/?v=6&p=1"><span>Quy trình cung cấp dịch vụ</span></a></li>
				<li  > <a href="/?v=6&p=2"><span>Một số mẫu tem Hệ thống xác thực</span></a></li>
				<li> <a href="/Thongtin/VTRUE-Salekit.pdf"><span>Sale kit download</span></a></li>
				
				<li> <a href="http://vtrue.vn/doanh-nghiep/tem-xac-thuc-dien-tu"><span>Tem xác thực điện tử</span></a></li>
				<li> <a href="http://vtrue.vn/doanh-nghiep/tem-xac-thuc-dien-tu-VTrue"><span>Tem xác thực điện tử VTrue</span></a></li>
				<li> <a href="http://vtrue.vn/doanh-nghiep/tem-chong-hang-gia"><span>Tem chống hàng giả</span></a></li>
				<li> <a href="http://vtrue.vn/doanh-nghiep/tem-chong-hang-gia-dien-tu"><span>Tem chống hàng giả điện tử</span></a></li>
				<li> <a href="http://vtrue.vn/doanh-nghiep/tem-niem-phong-chong-hang-gia"><span>Tem niêm phong chống hàng giả</span></a></li>
				<li> <a href="/?v=6&p=3"><span>Quy trình xử lý khiếu nại</span></a></li>
				<li> <a href="?v=3"><span>Hướng dẫn tra cứu </span></a></li>
                            </ul>







                      
					   </div>
                    </div>
                    <div class="block_show_md">
                        <div class="frame_video">
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/m4HK7lKjwfM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                         <div class="left_customer_logo customer_slide_logo">
                            <div class="left_slider_logo owl-carousel owl-theme owl-loaded">
                                <a href="#"><img src="{% static '/img/logokh/Gia Nguyen.jpg'%}" width=131 height=68 alt="" /></a>
								<a href="#"><img src="{% static '/img/logokh/Huyndai.jpg' %}" width=131 height=68  alt="" /></a>
								<a href="#"><img src=" {% static '/img/logokh/Kangroo.png' %}" width=131 height=68  alt="" /></a>
								<a href="#"><img src="{% static '/img/logokh/Logo-Hapro.jpg' %}" width=131 height=68  alt="" /></a>
								<a href="#"><img src="{% static '/img/logokh/Me linh.jpg' %}" width=131 height=68  alt="" /></a>
								<a href="#"><img src="{% static '/img/logokh/Ton hoa sen 2.png' %}" width=131 height=68  alt="" /></a>
                            </div>
                        </div>

                        <div class="short_news">
                            <div class="row_title_left_news">
                                <div class="row_title_block">
                                    <h3 class="title_product">Tin tức</h3>
                                </div>
                            </div>
                            <ul class="ul_list_news_left">
                                <li>
                                    <a class="block_unit_news" href="/?v=4&z=9">
                                        <span><img src="{% static '/img/thongtin/75080033fb2c1bf5e036d8c73b058157_FullSizeRender.jpg' %}" alt="tin tuc" /></span>
                                        <p>HỆ THỐNG XÁC THỰC VTRUE: 'LÁ CHẮN THÉP' CHỐNG HÀNG GIẢ</p>
                                    </a>
                                </li>
                                <li>
                                    <a class="block_unit_news" href="/?v=4&z=8">
                                        <span><img src="{% static '/img/thongtin/ttxvn-120515ky-ket-1431485141670.jpg' %}" width="102" height="71" alt="" /></span>
                                        <p>LẦN ĐẦU TIÊN KIỂM SOÁT HÀNG GIẢ BẰNG MÃ XÁC THỰC ĐIỆN TỬ</p>
                                    </a>
                                </li>
                                <li>
                                    <a class="block_unit_news" href="/?v=4&z=10">
                                        <span><img src="{% static '/img/thongtin/temjpg1431449698.jpg' %}" width="102" height="71" alt="" /></span>
                                        <p>PHÁT HIỆN HÀNG GIẢ QUA DỊCH VỤ ĐIỆN TỬ VTRUE</p>
                                    </a>
                                </li>
                                <li>
                                    <a class="block_unit_news" href="/?v=4&z=11">
                                        <span><img src="{% static '/img/thongtin/NQH_5501.jpg' %}" width="102" height="71" alt="" /></span>
                                        <p>CHUNG TAY CHỐNG HÀNG GIẢ VỚI HỆ THỐNG XÁC THỰC ĐIỆN TỬ VTRUE</p>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>

                <div class="rightcontent">
                   
					
					 <ul class="ul_breadcrumb">
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Doanh nghiệp</a></li>
                        <li><a>Quy trình cung cấp dịch vụ</a></li>
                    </ul>
                    <h3 class="title_subpage">Quy trình cung cấp dịch vụ</h3>
                    <ul class="time_viewer">
                        <li><i class="fa fa-clock-o"></i>04/07/2016</li>
                        <li><i class="fa fa-eye"></i>250</li>
                    </ul>

                    <div class="detail_right">
                     
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<table border="0" width="100%" align="center" cellspacing="0" cellpadding="0">
		<tr>
			<td align="center">
<IMG alt="Tem-2.4x2.4" src="{% static 'img/dnnn.jpg' %}" width=600 align="center"></td>
			
		</tr>
	</table><br>
<p style="font-family: verdana, helvetica, arial, sans-serif; color: rgb(8, 57, 38); font-size: 11.9999990463257px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: justify; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-indent: 3em; background-color: rgb(255, 255, 255);">
Để được cấp phát sử dụng Tem xác thực cho các sản phẩm, Doanh nghiệp cần phải<span class="Apple-converted-space">&nbsp;</span><a style="color: blue; text-decoration: none;" href="http://dangky.vtrue.vn">đăng 
ký</a><span class="Apple-converted-space">&nbsp;</span>trên hệ thống Xác thực VTrue, 
cung cấp các thông tin cần thiết và trải qua quá trình kiểm duyệt chặt chẽ.</p>
<center style="color: rgb(8, 57, 38); font-family: sans-serif; font-size: 11.9999990463257px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);">

</center>
<p style="font-family: verdana, helvetica, arial, sans-serif; color: rgb(8, 57, 38); font-size: 11.9999990463257px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);">
<u><b>Bước 1:</b></u><span class="Apple-converted-space">&nbsp;</span>Doanh nghiệp 
click vào ô<span class="Apple-converted-space">&nbsp;</span><a style="color: blue; text-decoration: none;" href="http://dangky.vtrue.vn">&quot;Đăng 
ký&quot;</a><span class="Apple-converted-space">&nbsp;</span>trên website<span class="Apple-converted-space">&nbsp;</span><a style="color: blue; text-decoration: none;" href="http://xacthuc.chinhphu.vn/">xacthuc.chinhphu.vn</a><span class="Apple-converted-space">&nbsp;</span>và 
cung cấp thông tin theo hướng dẫn, bao gồm:</p>
<p style="font-family: verdana, helvetica, arial, sans-serif; color: rgb(8, 57, 38); font-size: 11.9999990463257px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; margin-left: 55px; background-color: rgb(255, 255, 255);">
o Tên công ty<br>
o Mã số doanh nghiệp<br>
o Thông tin liên hệ: địa chỉ, điện thoại, email<br>
o Thông tin người đại diện trước pháp luật: Họ và tên, số CMND, điện thoại, địa 
chỉ<br>
o Bản sao Giấy chứng nhận đăng ký kinh doanh<br>
&nbsp;</p>
<p style="font-family: verdana, helvetica, arial, sans-serif; color: rgb(8, 57, 38); font-size: 11.9999990463257px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);">
<u><b>Bước 2:</b></u><span class="Apple-converted-space">&nbsp;</span>Doanh nghiệp 
tiếp tục cung cấp các thông tin về sản phẩm cần Đăng ký xin cấp phát Tem xác 
thực, bao gồm:</p>
<p style="font-family: verdana, helvetica, arial, sans-serif; color: rgb(8, 57, 38); font-size: 11.9999990463257px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; margin-left: 55px; background-color: rgb(255, 255, 255);">
o Tên sản phẩm<br>
o Mã cấp phép sản xuất/Mã giấy chứng nhận Vệ sinh an toàn thực phẩm (cùng các 
bản sao đi kèm)<br>
o Ngày cấp phép: mặc định là ngày kích hoạt tem<br>
o Xuất xứ sản phẩm<br>
o Số lượng tem xin cấp phát<br>
&nbsp;</p>
<p style="font-family: verdana, helvetica, arial, sans-serif; color: rgb(8, 57, 38); font-size: 11.9999990463257px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);">
<u><b>Bước 3:</b></u><span class="Apple-converted-space">&nbsp;</span>Xét duyệt hồ sơ:</p>
<p style="font-family: verdana, helvetica, arial, sans-serif; color: rgb(8, 57, 38); font-size: 11.9999990463257px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; margin-left: 55px; background-color: rgb(255, 255, 255);">
o Ban quản trị hệ thống dựa trên những thông tin do doanh nghiệp cung cấp, tiến 
hành kiểm tra theo những nghiệp vụ chuyên môn.<span class="Apple-converted-space">&nbsp;</span><br>
o Nếu hồ sơ doanh nghiệp cung cấp còn thiếu, không hợp lệ, ban quản trị sẽ gửi 
thông báo chi tiết và đề nghị doanh nghiệp bổ sung hoặc thông báo từ chối cấp 
phát Tem xác thực.<span class="Apple-converted-space">&nbsp;</span><br>
o Nếu hồ sơ doanh nghiệp đầy đủ, các thông tin cung cấp là chính xác và đạt tiêu 
chuẩn, ban quản trị sẽ tiến hành thông báo, hẹn lịch doanh nghiệp đến nhận bàn 
giao Tem xác thực, và chính thức kích hoạt hệ thống cho doanh nghiệp.<span class="Apple-converted-space">&nbsp;</span><br>
o Bước xét duyệt hồ sơ sẽ được tiến hành không quá 48h kể từ khi nhận được đăng 
ký và các thông tin do doanh nghiệp cung cấp trên hệ thống.</p>
<p align="justify" style="font-size:120%;"><b>Đăng ký sử dụng dịch vụ xác thực VTrue bảo vệ chính mình!</b>
 </p>

 
                    </div>
                    <div class="right_register_btn">
                        <a class="btn_register_now" href="http://dangky.vtrue.vn">Đăng ký ngay</a>
                    </div>
                      
                    <div class="div_readmore">
                        <div class="row_title_block">
                            <h3 class="title_product">Đọc thêm</h3>
                        </div>
                        <ul class="list_news_more">
                           <li><a href="/?v=6&p=2">Một số mẫu tem </a></li>
        	<li><a href="/?v=6&p=1">Quy trình cung cấp dịch vụ</a></li>
        	<li><a href="/Thongtin/VTRUE-Salekit.pdf">Sale kit download</a></li>
                        </ul>
                    </div>


                    <div class="block_show_xs">
                        <div class="frame_video">
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/nkIQWnU6lZk" frameborder="0" allowfullscreen=""></iframe>
                        </div>

                        <div class="left_customer_logo customer_slide_logo">
                            <div class="left_slider_logo owl-carousel owl-theme owl-loaded">
                                <a href="#"><img src="img/logokh/Gia Nguyen.jpg" width=131 height=68 alt="" /></a> 
								<a href="#"><img src="img/logokh/Huyndai.jpg" width=131 height=68  alt="" /></a>
								<a href="#"><img src="img/logokh/kangroo-logo.png" width=131 height=68  alt="" /></a>
								<a href="#"><img src="img/logokh/Logo-Hapro.jpg" width=131 height=68  alt="" /></a> 
								<a href="#"><img src="img/logokh/Me linh.jpg" width=131 height=68  alt="" /></a>
								<a href="#"><img src="img/logokh/Ton hoa sen 2.png" width=131 height=68  alt="" /></a>
                            </div>
                        </div>

                        <div class="short_news">
                            <div class="row_title_left_news">
                                <div class="row_title_block">
                                    <h3 class="title_product">Tin tức</h3>
                                </div>
                            </div>
                            <ul class="ul_list_news_left">
                                 <li class="clearfix">
              <p class="lNews_l_img"><a href="/?v=4&z=9"><img src="thongtin/img/75080033fb2c1bf5e036d8c73b058157_FullSizeRender.jpg" width="102" height="71" alt="" /></a></p>
              <p class="lNews_l_txt"><a href="/?v=4&z=9">HỆ THỐNG XÁC THỰC VTRUE:'LÁ CHẮN THÉP' CHỐNG HÀNG GIẢ</a></p>
            </li>
            <li class="clearfix">
              <p class="lNews_l_img"><a href="/?v=4&z=8"><img src="thongtin/img/ttxvn-120515ky-ket-1431485141670.jpg" width="102" height="71" alt="" /></a></p>
              <p class="lNews_l_txt"><a href="/?v=4&z=8"> LẦN ĐẦU TIÊN KIỂM SOÁT HÀNG GIẢ BẰNG MÃ XÁC THỰC ĐIỆN TỬ</a></p>
            </li>
            <li class="clearfix">
              <p class="lNews_l_img"><a href="/?v=4&z=10"><img src="thongtin/img/temjpg1431449698.jpg" width="102" height="71" alt="" /></a></p>
              <p class="lNews_l_txt"><a href="/?v=4&z=10">PHÁT HIỆN HÀNG GIẢ QUA DỊCH VỤ ĐIỆN TỬ VTRUE </a></p>
            </li>
            <li class="clearfix">
              <p class="lNews_l_img"><a href="/?v=4&z=11"><img src="thongtin/img/NQH_5501.jpg" width="102" height="71" alt="" /></a></p>
              <p class="lNews_l_txt"><a href="/?v=4&z=11">CHUNG TAY CHỐNG HÀNG GIẢ VỚI HỆ THỐNG XÁC THỰC ĐIỆN TỬ VTRUE</a></p>
            </li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!-- end: CONTENT DETAIL -->
<script>

$(document).ready(function() {
      var owl = $("#lkh1");
      owl.owlCarousel({
      items : 2, //10 items above 1000px browser width
      itemsDesktop : [1000,2], //5 items between 1000px and 901px
      itemsDesktopSmall : [900,2], // 3 items betweem 900px and 601px
      itemsTablet: [600,2],
	    autoPlay : 3000,
      itemsMobile : false // itemsMobile disabled - inherit from itemsTablet option      
      });
      // Custom Navigation Events
      $(".next").click(function(){
        owl.trigger('owl.next');
      })
      $(".prev").click(function(){
        owl.trigger('owl.prev');
      })
    });
</script>
{% endblock %}

