{% extends 'website/base.html' %}
{% load staticfiles%}
{% block intro %}
  <!-- start: CONTENT DETAIL -->
      <section class="sec_contentdetail">
        <div class="container">
            <div class="div contentpage">
                <div class="left_content">
                    <div class="news_left">
                        <div class="news_left_inner">
                            <h3>Giới thiệu</h3>
                            <ul class="menu_left">
                                <li  > <a href="/?v=4&z=1"><span>GIỚI THIỆU</span></a></li>
				<li  ><a href="/?v=4&z=2"><span>VTRUE LÀ GÌ?</span></a></li>
                <li  ><a href="/?v=4&z=3"><span>NHỮNG ƯU THẾ KHÁC BIỆT?</span></a></li>

                <li ><a href="/?v=4&z=5"><span>HỆ THỐNG XÁC THỰC ĐIỆN TỬ CÓ THỰC SỰ ĐẢM BẢO?</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="block_show_md">
                        <div class="frame_video">
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/m4HK7lKjwfM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                        <div class="left_customer_logo customer_slide_logo">
                            <div class="left_slider_logo owl-carousel owl-theme owl-loaded">
                                <a href="#"><img src="{% static '/img/logokh/Gia Nguyen.jpg'%}" width=131 height=68 alt="" /></a>
								<a href="#"><img src="{% static '/img/logokh/Huyndai.jpg' %}" width=131 height=68  alt="" /></a>
								<a href="#"><img src=" {% static '/img/logokh/Kangroo.png' %}" width=131 height=68  alt="" /></a>
								<a href="#"><img src="{% static '/img/logokh/Logo-Hapro.jpg' %}" width=131 height=68  alt="" /></a>
								<a href="#"><img src="{% static '/img/logokh/Me linh.jpg' %}" width=131 height=68  alt="" /></a>
								<a href="#"><img src="{% static '/img/logokh/Ton hoa sen 2.png' %}" width=131 height=68  alt="" /></a>
                            </div>
                        </div>

                        <div class="short_news">
                            <div class="row_title_left_news">
                                <div class="row_title_block">
                                    <h3 class="title_product">Tin tức</h3>
                                </div>
                            </div>
                            <ul class="ul_list_news_left">
                                <li>
                                    <a class="block_unit_news" href="/?v=4&z=9">
                                        <span><img src="{% static '/img/thongtin/75080033fb2c1bf5e036d8c73b058157_FullSizeRender.jpg' %}" alt="tin tuc" /></span>
                                        <p>HỆ THỐNG XÁC THỰC VTRUE: 'LÁ CHẮN THÉP' CHỐNG HÀNG GIẢ</p>
                                    </a>
                                </li>
                                <li>
                                    <a class="block_unit_news" href="/?v=4&z=8">
                                        <span><img src="{% static '/img/thongtin/ttxvn-120515ky-ket-1431485141670.jpg' %}" width="102" height="71" alt="" /></span>
                                        <p>LẦN ĐẦU TIÊN KIỂM SOÁT HÀNG GIẢ BẰNG MÃ XÁC THỰC ĐIỆN TỬ</p>
                                    </a>
                                </li>
                                <li>
                                    <a class="block_unit_news" href="/?v=4&z=10">
                                        <span><img src="{% static '/img/thongtin/temjpg1431449698.jpg' %}" width="102" height="71" alt="" /></span>
                                        <p>PHÁT HIỆN HÀNG GIẢ QUA DỊCH VỤ ĐIỆN TỬ VTRUE</p>
                                    </a>
                                </li>
                                <li>
                                    <a class="block_unit_news" href="/?v=4&z=11">
                                        <span><img src="{% static '/img/thongtin/NQH_5501.jpg' %}" width="102" height="71" alt="" /></span>
                                        <p>CHUNG TAY CHỐNG HÀNG GIẢ VỚI HỆ THỐNG XÁC THỰC ĐIỆN TỬ VTRUE</p>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="rightcontent">
                   
					
					 <ul class="ul_breadcrumb">
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Giới thiệu</a></li>
                        
                    </ul>
                    <h3 class="title_subpage">GIỚI THIỆU HỆ THỐNG XÁC THỰC ĐIỆN TỬ VTRUE</h3>
                    <ul class="time_viewer">
                        <li><i class="fa fa-clock-o"></i>04/07/2016</li>
                        <li><i class="fa fa-eye"></i>250</li>
                    </ul>

                    <div class="detail_right">
                       <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <script> 
                function checkHidden(){
                    //var browserName  = navigator.appName.trim();
                    var checkIndex;
                   
                    var userAgent = window.navigator.userAgent;
                    //alert(userAgent)
                    //indexOf("Firefox"): Firefox/indexOf("Opera"): Opera/indexOf("MSIE"):Microsoft Internet Explorer/
                    if((checkIndex=userAgent.indexOf("MSIE"))!=-1){//Microsoft Internet Explorer
                        //document.getElementById('video1').disabled=true;
                        document.getElementById('video1').style.display="none";
                        //alert("vao day khong");
                    }else{
                        //document.getElementById('video2').disabled=true;
                        document.getElementById('video2').style.display="none";
                    }
                }
            </script>
		
 
 <p align="justify" style="font-size:120%;">
  Dịch vụ xác thực điện tử VTrue được xây dựng bởi đội ngũ chuyên gia có trên 10 năm kinh nghiệm trong các lĩnh vực Viễn thông, Công nghệ thông tin, Quản lý nhà nước,... từ 4 đơn vị: <b>Cổng thông tin điện tử Chính phủ, Cục Quản lý thị trường, Viện Kiểm nghiệm an toàn vệ sinh thực phẩm quốc gia và Công ty Cổ phần VNet.</b> </p> 
<p align="justify" style="font-size:120%;">
 Các sản phẩm được bảo đảm bởi dịch vụ xác thực điện tử VTrue là các sản phẩm đã được chứng nhận đạt chuẩn về nguồn gốc xuất xứ và chất lượng. Đây được coi là giải giải pháp tổng thể để xác thực nguồn gốc, bảo vệ sản phẩm, thương hiệu, chủ động nắm bắt thông tin của người tiêu dùng và thông tin phản hồi về sản phẩm. </p>
<p align="justify" style="font-size:120%;">
 Dịch vụ xác thực điện tử VTrue phát hành các tem xác thực cho khách hàng để dán cho các sản phẩm chính hãng của họ. Các tem này bao gồm bộ số hoặc QR code đã được phủ bạc, có tính chất duy nhất và không thể sử dụng lại hay đánh cắp. Khi mua hàng, người tiêu dùng có thể sử dụng các công cụ xác thực để kiểm tra sản phẩm có thực sự chính hãng hay không. Đặc biệt, dịch vụ xác thực điện tử Vtrue còn mang đến lợi ích 2 trong 1 khi tích hợp tính năng bảo hành điện tử.</p>
  <table border="0" width="100%" align="center" cellspacing="0" cellpadding="0">
		<tr>
			<td align="center">
<IMG alt="Tem-2.4x2.4" src="{% static 'img/nentang.jpg' %}" width=600 align="center"></td>
			
		</tr>
	</table><br>
 <p align="justify" style="font-size:120%;">
 <b>Hình thức xác thực</b></p>
 <p align="justify" style="font-size:120%;">
Qua việc quét mã QR Code hoặc mã số sau lớp phủ cào trên tem, người tiêu dùng Việt có thể xác định được rõ thông tin sản phẩm, đảm bảo quyền lợi và sức khỏe cho chính mình. </p>
<p align="justify" style="font-size:120%;">
Ngoài ra, VTrue còn cung cấp 4 phương thức xác thực khác bao gồm: Website, SMS, App VTrue, tổng đài tự động 1900 6609.</p>
<p align="justify" style="font-size:120%;">
<b>VTrue cam kết những gì? </b></p>
<p align="justify" style="font-size:120%;">
<b>- Bảo mật tuyệt đối. </b></p>
<p align="justify" style="font-size:120%;">
<b>- Chính xác - Tin cậy:</b> Áp dụng chặt chẽ các quy trình từ bước sinh mã xác thực cho đến bước phục vụ người dùng cuối.</p>
<p align="justify" style="font-size:120%;">
<b>- An toàn - Phục vụ 24/24:</b> Bảo vệ toàn bộ dữ liệu an toàn và đáp ứng nhu cầu tra cứu trong mọi thời điểm dựa trên 2 zhệ thống kỹ thuật điện toán đám mây chạy song song.</p>
<p align="justify" style="font-size:120%;">
<b>Giá trị cốt lõi</b></p>
<p align="justify" style="font-size:120%;">
<b>Uy tín</b> -Trách nhiệm cao, đáp ứng nhanh, chính xác, tuân thủ quy trình chặt chẽ.</p>
<p align="justify" style="font-size:120%;">
<b>Thấu hiểu</b> - Kết nối doanh nghiệp với người dùng cuối giúp tăng chất lượng dịch vụ, gia tăng doanh thu.</p>
<p align="justify" style="font-size:120%;">
<b>An toàn</b> - Bảo mật tuyệt đối thông tin sản phẩm, thông tin người dùng. </p>
<p align="justify" style="font-size:120%;">
<b>Hữu ích</b> - Sử dụng dễ dàng, tra cứu đơn giản. Tích hợp mở rộng các tính năng đáp ứng mọi yêu cầu.</p>
<p align="justify" style="font-size:120%;">
<b>Hài lòng </b>- Đáp ứng 24/24 mang đến sản phẩm dịch vụ chất lượng cho doanh nghiệp và người tiêu dùng.</p>
<p align="justify" style="font-size:120%;">
Đã có rất nhiều doanh nghiệp sử dụng tem của Vtrue như một cách để bảo vệ thương hiệu sản phẩm. Hãy sử dụng VTrue ngay bây giờ để góp phần xây dựng thị trường minh bạch, đẩy lùi hàng nhái, hàng giả.
 

   </p>          
		

 
                    </div>
                    <div class="right_register_btn">
                        <a class="btn_register_now" href="http://dangky.vtrue.vn">Đăng ký ngay</a>
                    </div>
                      
                    <div class="div_readmore">
                        <div class="row_title_block">
                            <h3 class="title_product">Đọc thêm</h3>
                        </div>
                        <ul class="list_news_more">
                           <li><a href="/?v=4&z=6">LỄ KÍ KẾT PHỐI HỢP TRIỂN KHAI HỆ THỐNG ỨNG DỤNG</a></li>
							<li><a href="/?v=4&z=7">NGƯỜI DÂN CÓ THỂ PHÁT HIỆN HÀNG GIẢ QUA DỊCH VỤ XÁC THỰC ĐIỆN TỬ VTRUE</a></li>
							<li><a href="/?v=4&z=8">LẦN ĐẦU TIÊN KIỂM SOÁT HÀNG GIẢ BẰNG MÃ XÁC THỰC ĐIỆN TỬ</a></li>
						<li><a href="/?v=4&z=9">HỆ THỐNG XÁC THỰC VTRUE  LÁ CHẮN THÉP' CHỐNG HÀNG GIẢ</a></li>
        	<li><a href="/?v=4&z=10">PHÁT HIỆN HÀNG GIẢ QUA DỊCH VỤ ĐIỆN TỬ VTRUE</a></li>
        	<li><a href="/?v=4&z=11">CHUNG TAY CHỐNG HÀNG GIẢ VỚI HỆ THỐNG XÁC THỰC ĐIỆN TỬ VTRUE</a></li>
                        </ul>
                    </div>


                    <div class="block_show_xs">
                        <div class="frame_video">
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/nkIQWnU6lZk" frameborder="0" allowfullscreen=""></iframe>
                        </div>

                        <div class="left_customer_logo customer_slide_logo">
                            <div class="left_slider_logo owl-carousel owl-theme owl-loaded">
                               <a href="#"><img src="img/logokh/Gia Nguyen.jpg" width=131 height=68 alt="" /></a> 
								<a href="#"><img src="img/logokh/Huyndai.jpg" width=131 height=68  alt="" /></a>
								<a href="#"><img src="img/logokh/kangroo-logo.png" width=131 height=68  alt="" /></a>
								<a href="#"><img src="img/logokh/Logo-Hapro.jpg" width=131 height=68  alt="" /></a> 
								<a href="#"><img src="img/logokh/Me linh.jpg" width=131 height=68  alt="" /></a>
								<a href="#"><img src="img/logokh/Ton hoa sen 2.png" width=131 height=68  alt="" /></a>
                            </div>
                        </div>

                        <div class="short_news">
                            <div class="row_title_left_news">
                                <div class="row_title_block">
                                    <h3 class="title_product">Tin tức</h3>
                                </div>
                            </div>
                            <ul class="ul_list_news_left">
                                 <li class="clearfix">
              <p class="lNews_l_img"><a href="/?v=4&z=9"><img src="thongtin/img/75080033fb2c1bf5e036d8c73b058157_FullSizeRender.jpg" width="102" height="71" alt="" /></a></p>
              <p class="lNews_l_txt"><a href="/?v=4&z=9">HỆ THỐNG XÁC THỰC VTRUE  LÁ CHẮN THÉP' CHỐNG HÀNG GIẢ</a></p>
            </li>
            <li class="clearfix">
              <p class="lNews_l_img"><a href="/?v=4&z=8"><img src="thongtin/img/ttxvn-120515ky-ket-1431485141670.jpg" width="102" height="71" alt="" /></a></p>
              <p class="lNews_l_txt"><a href="/?v=4&z=8"> LẦN ĐẦU TIÊN KIỂM SOÁT HÀNG GIẢ BẰNG MÃ XÁC THỰC ĐIỆN TỬ</a></p>
            </li>
            <li class="clearfix">
              <p class="lNews_l_img"><a href="/?v=4&z=10"><img src="thongtin/img/temjpg1431449698.jpg" width="102" height="71" alt="" /></a></p>
              <p class="lNews_l_txt"><a href="/?v=4&z=10">PHÁT HIỆN HÀNG GIẢ QUA DỊCH VỤ ĐIỆN TỬ VTRUE </a></p>
            </li>
            <li class="clearfix">
              <p class="lNews_l_img"><a href="/?v=4&z=11"><img src="thongtin/img/NQH_5501.jpg" width="102" height="71" alt="" /></a></p>
              <p class="lNews_l_txt"><a href="/?v=4&z=11">CHUNG TAY CHỐNG HÀNG GIẢ VỚI HỆ THỐNG XÁC THỰC ĐIỆN TỬ VTRUE</a></p>
            </li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!-- end: CONTENT DETAIL -->
<script>

$(document).ready(function() {
      var owl = $("#lkh1");
      owl.owlCarousel({
      items : 2, //10 items above 1000px browser width
      itemsDesktop : [1000,2], //5 items between 1000px and 901px
      itemsDesktopSmall : [900,2], // 3 items betweem 900px and 601px
      itemsTablet: [600,2],
	    autoPlay : 3000,
      itemsMobile : false // itemsMobile disabled - inherit from itemsTablet option      
      });
      // Custom Navigation Events
      $(".next").click(function(){
        owl.trigger('owl.next');
      })
      $(".prev").click(function(){
        owl.trigger('owl.prev');
      })
    });
</script>
{% endblock %}

